/* ========title============= */

.title {
    padding: 50px 0;
    position: relative;
}

.title .icon {
    position: absolute;
    left: 15px;
    top: 24px;
}

.title .title_text {
    text-align: center;
}

.title .title_text h2 {
    font-family: 'Lora', serif;
    font-size: 64px;
    font-weight: 550;
}
.head{
    display: flex;
    
}
.banner {
    background-image: url(../../backgroud.png);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner h1{
    font-family: 'Lora', serif;
    font-size: 30px;
  }
  .list__icon{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 80px;
      margin-left: 100px;
      margin-right: 100px;
      border-bottom: 1.5px solid #888;

  }
  .list__icon ul{
      display: flex;
      align-items: center;
  }
  .list__icon ul li{
      margin-right: 15px;
  }
  .banner .black__card {
    color: white;
    position: absolute;
    width: 350px;
    height: 200px;
    left: 80px;
    bottom: -80px;
    background: #000000;
    padding: 20px;
  }
  .descrip{
      margin: 80px 140px 200px 140px; 
     
  }
  .descrip .img{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0;
  }
  .descrip b{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
  }
  .descrip .item p{
      display: flex;
      align-items: center;
  }
  .descrip .item img{
      width: 20px;
      height: 20px;
  }
  .item__chil{
      border-bottom: 1px solid #888;
      padding: 4px 0;
  }

  .descrip p{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
margin-top: 15px;
  }
  .descrip .item{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .descrip .text{
      margin: 60px 0;
  }
  .banner .black__card h3 {
    font-size: 20px;
    font-family: sans-serif;
  }
  .banner .black__card .monet {
    color: #d22833;
    font-size: 20px;
    font-family: 'Lora', serif;
  }
  .banner .black__card p {
    margin-top: 13px;
    margin-bottom: 8px;
    font-size: 13px;
    font-family: sans-serif;
  }
  .banner .black__card span {
    font-size: 10px;
    font-family: sans-serif;
  }
  
/* ==========end-title================= */


/* =========hot-new=========== */
.profile{
    display: flex;
    margin: 0 80px;
}
.profile .post{
    margin-left: 30px;
}
.profile h3{
    font-weight: 100;
    margin-bottom: 50px;
}
.profile p{
    font-family: 'Quicksand', sans-serif;
}
.hot-new {
    margin-top: 100px;
}

.hot-new .img {
    width: 100%;
}

.hot-new .post {
    padding: 0 30px;
}

.hot-new .post span {
    font-size: 12px;
}

.hot-new .post h5 {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 15px;
}

.hot-new .post h3 {
    font-size: 48px;
    font-family: 'Lora', serif;
    font-weight: 100;
}
.favi{
    margin-bottom: 200px;
    margin-left: 140px;
    margin-right: 140px;
}
.hot-new .post-item {
    height: 400px;
    margin: 30px 0;
}

.hot-new .post-item img {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.hot-new .post-item h5 {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.hot-new .post-item p {
    font-size: 15px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.des{
    margin-top: 30px;
}

/* =========end-hot-new=========== */


/* ============old-news================= */

.old-news {}

.old-news .old-news__item {
    margin-bottom: 25px;
}

.old-news .old-news__item span {
    color: #868686;
    font-weight: 600;
}

.old-news .old-news__item h4 {
    font-size: 18px;
    font-weight: 550;
}

.old-news .old-news__item img {
    width: 100%;
}

.old-news .old-news__item .box-text {
    padding: 0 20px;
}


/* ============end-old-news================= */